<app-nav-bar></app-nav-bar>
<div class="row row-cols-1 row-cols-md-3 margen animated fadeIn">
  <div class="col mb-4">
    <div class="card">
      <img src="..\assets\img\1.jpg" class="card-img-top animated fadeIn" alt="...">
      <div class="card-body">
        <h5 class="card-title">Certificación en el uso de Zen Aligners Nivel Básico</h5>
        <ul class="card-text">
          <li>Diagnostico</li>
          <li>Objetivos y plan de tratamiento</li>
          <li>Protocolo zen</li>
          <li>Toma de impresión y colocación attachments</li>
          <li>Comunicación labs y ortodoncia</li>
        </ul>
          <h6>$2320.00 MXN</h6>
          <a href="https://www.mercadopago.com.mx/checkout/v1/redirect?pref_id=5322216-bbc0ac79-0684-4740-8f90-3f4a6f6f2a7c" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..\assets\img\2.jpg" class="card-img-top animated fadeIn" alt="...">
      <div class="card-body">
        <h5 class="card-title">Certificación en el uso de Zen Aligners Nivel Avanzado</h5>
        <ul class="card-text">
          <li>Transformando la ortodoncia</li>
          <li>Transformando tu practica</li>
            <li>Transformando sonrisas</li>
          <li>Un alineador a la vez</li>
        </ul>
        <h6>$2320.00 MXN</h6>
          <a href="https://www.mercadopago.com.mx/checkout/v1/redirect?pref_id=5322216-ed386627-e6de-40ca-9530-2e3a81a34cbb" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..\assets\img\3.jpg" class="card-img-top animated fadeIn" alt="...">
      <div class="card-body">
        <h5 class="card-title">Certificación en el uso de Zen Aligners Ambos Cursos</h5>
        <ul class="card-text">
          <p>Básico</p>
          <li>Diagnostico</li>
          <li>Objetivos y plan de tratamiento</li>
          <li>Protocolo zen</li>
          <li>Toma de impresión y colocación attachments</li>
          <li>Comunicación labs y ortodoncia</li>
          <hr>
          <p>Avanzado</p>
          <li>Transformando la ortodoncia</li>
          <li>Transformando tu practica</li>
            <li>Transformando sonrisas</li>
          <li>Un alineador a la vez</li>
        </ul>
          <h6>$4000.00 MXN</h6>
            <a href="https://www.mercadopago.com.mx/checkout/v1/redirect?pref_id=5322216-d7d2f299-3f47-425e-90ed-e7ddf969ef0a" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Comprar</a>
      </div>
    </div>
  </div>
</div>
