
<app-nav-bar></app-nav-bar>

<!-- Inicia Jumbotron -->
  <div class="colorJumbotron jumbotron jumbotron-fluid animated fadeIn ">
    <div class="container">

      <i class="fas fa-teeth-open"></i> <h1 class="display-4"> Zen Labs</h1>
      <hr>
      <p class="lead">
        Es una empresa 100% mexicana fundada en el 2018 con la visión de ser líder en el laboratorio
        digital odontológico, nos dedicamos a fabricar dispositivos dentales en 3D con la más alta calidad y estándares
        a nivel internacional.
      </p>
       <p class="lead">En Zen Labs Digital combinamos talento, creatividad y experiencia en pro de ofrecer el mejor servicio de
      laboratorio para beneficio del profecionista de la salud bucal y de sus pacientes. </p>
    </div>
  </div>



  <div class="text-center">
    <a href="app-cursos"><button type="button" class="btn btn-outline-info btn-lg" >
      <img src="..\assets\img\certificado.png" alt="">
      Certificiones
    </button></a>

  </div>

  <app-footer></app-footer>
