
<app-nav-bar></app-nav-bar>

<!-- Inicia Jumbotron -->

  <div class="colorJumbotron jumbotron jumbotron-fluid ">
    <div class="container">
      <h1 class="display-4">Zen Labs</h1>
      <hr>
      <p class="lead">
        Es una empresa 100% mexicana fundada en el 2018 con la visión de ser líder en el laboratorio
        digital odontológico, nos dedicamos a fabricar dispositivos dentales en 3D con la más alta calidad y estándares
        a nivel internacional.
      </p>
       <p class="lead">En Zen Labs Digital combinamos talento, creatividad y experiencia en pro de ofrecer el mejor servicio de
      laboratorio para beneficio del profecionista de la salud bucal y de sus pacientes. </p>
    </div>
  </div>
